{% extends 'main/base2.html' %}

{% block title %} Мария Серединская | Репетитор по биологии и химии, нейробиолог {% endblock %}

{% load static %}

{% block meta_description %}
    Мария Серединская — репетитор по биологии и химии с 9-летним опытом. Авторские методики, подготовка к ЕГЭ, олимпиадам, вузовские курсы. Нейробиолог, исследователь поведения животных.
{% endblock %}
{% block meta_keywords %}
    репетитор по биологии, репетитор по химии, подготовка к ЕГЭ по биологии, Мария Серединская, нейробиолог, олимпиады по биологии, репетитор для студентов с СДВГ
{% endblock %}
{% block og_title %}
    Мария Серединская | Репетитор по биологии и химии
{% endblock %}
{% block og_description %}
    Преподаватель, учёный, исследователь. Авторские методики, подготовка к ЕГЭ и олимпиадам. Особая программа для студентов с СДВГ.
{% endblock %}
{% block og_image %}https://img.repetit.ru/teachers/126278/photo/photo_sqr_lrg.jpg?ts=638832935463670000{% endblock %}

{% block content %}
{% include 'main/_application_form.html' with form=application_form %}
{% endblock %}
