{% extends 'main/base2.html' %}
{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
    {% if policy_text %}
      {{ policy_text|safe }}
    {% else %}
    ### **Условия использования**

**1. Общие положения**
Настоящие Условия регулируют использование нашего Сервиса. Пользуясь Сервисом, вы соглашаетесь с этими условиями.

**2. Права и обязанности пользователя**
Пользователь обязуется:
- Не нарушать авторские права и законы;
- Не распространять вредоносный контент;
- Не использовать Сервис для незаконной деятельности.

**3. Интеллектуальная собственность**
Все материалы Сервиса защищены авторским правом. Копирование без разрешения запрещено.

**4. Ограничение ответственности**
Мы не несем ответственности за:
- Убытки, вызванные использованием Сервиса;
- Работу сторонних ресурсов, на которые есть ссылки.

**5. Изменения условий**
Мы можем изменять Условия использования. Продолжение использования Сервиса означает согласие с новыми условиями.

**6. Заключительные положения**
Споры решаются в соответствии с законодательством [вашей страны].

**Контакты:**
**Email:** sereernest@gmail.com
**Телефон:** +79213301390
{% endif %}
{% endblock content %}
