{% extends 'main/base.html' %}
{% block title %}
    🔬 Мария Серединская | Репетитор по биологии и химии онлайн • Подготовка к ЕГЭ, ОГЭ и олимпиадам
{% endblock %}

{% block meta_description %}
Репетитор по биологии и химии | Олимпиадная подготовка, помощь студентам с СДВГ. Первый урок бесплатно
{% endblock %}

{% block meta_keywords %}
репетитор по биологии, репетитор по химии, подготовка к ЕГЭ по биологии, подготовка к ОГЭ по химии, олимпиадная биология, репетитор для студентов, нейробиолог преподаватель, занятия по биологии онлайн, обучение с СДВГ, Мария Серединская отзывы, ЕГЭ 2025 биология, ВсОШ по биологии, молекулярная биология, биохимия онлайн, дистанционные уроки
{% endblock %}

{% block og_type %}website{% endblock %}
{% block og_site_name %}Репетитор по биологии и химии | Мария Серединская{% endblock %}
{% block og_title %}Мария Серединская | Репетитор по биологии и химии{% endblock %}
{% block og_description %}Профессиональная подготовка к ЕГЭ, ОГЭ и олимпиадам по биологии и химии. Научный подход, индивидуальные методики для студентов с СДВГ. Первый урок бесплатно{% endblock %}
{% block og_url %}{{ request.base_url }}{% endblock %}
{% block og_image %}https://img.repetit.ru/teachers/126278/photo/photo_sqr_lrg.jpg?ts=638832935463670000{% endblock %}
{% block og_image_alt %}Мария Серединская - профессиональный репетитор по биологии и химии{% endblock %}
{% block og_image_width %}1200{% endblock %}
{% block og_image_height %}630{% endblock %}
{% block og_locale %}ru_RU{% endblock %}

{% block twitter_card %}summary_large_image{% endblock %}
{% block twitter_title %}🔥 Репетитор по биологии/химии | Подготовка к ЕГЭ и олимпиадам{% endblock %}
{% block twitter_description %}Профессиональная подготовка к ЕГЭ, ОГЭ и олимпиадам по биологии и химии. Научный подход, индивидуальные методики для студентов с СДВГ. Первый урок бесплатно{% endblock %}
{% block twitter_image %}https://img.repetit.ru/teachers/126278/photo/photo_sqr_lrg.jpg?ts=638832935463670000{% endblock %}

{% block content %}
{% include 'main/_science.html' with publications=publications %}
{% endblock content %}
