<!-- seo.html -->
{% load static %}  <!-- Добавьте эту строку в начале файла! -->

<meta name="description" content="{% block meta_description %}{% endblock %}">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta property="og:title" content="{% block og_title %}{% endblock %}">
<meta property="og:description" content="{% block og_description %}{% endblock %}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% block og_image %}{% static 'img/maria-seredinskaya-social.jpg' %}{% endblock %}">
<meta property="og:site_name" content="Мария Серединская | Репетитор по биологии и химии">
<meta name="twitter:card" content="summary_large_image">
